* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}
*:focus-visible:not(.textarea-wrapper, textarea, select) {
  outline-width: 4px;
  outline-style: dashed;
  outline-color: var(--grey-800);
  outline-offset: var(--sp-1);
}

textarea:focus-visible {
  outline: none;
  border: none;
}

.textarea-wrapper:focus-within,
select:focus-within {
  z-index: 800;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--blue-800);
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff");
}
:root {
  /* Colors */
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --header-black: rgb(26, 26, 26);
  --link: var(--blue-800);
  --grey-200: rgb(245, 245, 245);
  --grey-300: rgb(236, 238, 238);
  --grey-400: rgb(216, 220, 221);
  --grey-600: rgb(166, 174, 177);
  --grey-700: rgb(100, 110, 114);
  --grey-800: rgb(64, 69, 74);
  --grey-200-transparent: rgba(245, 245, 245, 0.8);
  --blue-200: rgb(231, 243, 249);
  --blue-300: rgb(214, 235, 245);
  --blue-400: rgb(137, 212, 250);
  --blue-600: rgb(0, 174, 239);
  --blue-700: rgb(0, 83, 143);
  --blue-800: rgb(0, 45, 90);
  --pink-200: rgb(250, 239, 244);
  --pink-300: rgb(250, 229, 238);
  --pink-400: rgb(255, 160, 204);
  --pink-600: rgb(233, 70, 147);
  --pink-700: rgb(178, 21, 68);
  --pink-800: rgb(123, 6, 39);
  --green-200: rgb(237, 246, 221);
  --green-300: rgb(225, 240, 199);
  --green-400: rgb(207, 238, 138);
  --green-600: rgb(120, 190, 0);
  --green-700: rgb(68, 107, 0);
  --green-800: rgb(42, 73, 8);
  --yellow-200: rgb(255, 248, 227);
  --yellow-300: rgb(255, 244, 209);
  --yellow-400: rgb(255, 227, 138);
  --yellow-600: rgb(255, 212, 0);
  --yellow-700: rgb(168, 129, 0);
  --yellow-800: rgb(117, 91, 0);
  --orange-200: rgb(252, 244, 232);
  --orange-300: rgb(251, 238, 218);
  --orange-400: rgb(252, 208, 138);
  --orange-600: rgb(235, 145, 0);
  --orange-700: rgb(199, 84, 0);
  --orange-800: rgb(164, 39, 0);
  /* Border radius */
  --br-none: 0px;
  --br-sm: 0.125rem;
  --br-default: 0.25rem;
  --br-md: 0.375rem;
  --br-lg: 0.5rem;
  --br-xl: 0.75rem;
  --br-2xl: 1rem;
  --br-3xl: 1.5rem;
  --br-4xl: 2rem;
  --br-5xl: 2.5rem;
  --br-6xl: 3rem;
  --br-full: 9999px;
  --button-radius: var(--br-full) var(--br-none) var(--br-full) var(--br-full);
  /* Border radius images (bottom right corner) */
  --br-img-sm: 0 0 30px 0;
  --br-img-md: 60px;
  --br-img-lg: 90px;
  --br-img-xl: 120px;
  --br-img-2xl: 150px;
  --br-img-3xl: 180px;
  /* Spacing */
  --sp-0: 0px;
  --sp-px: 1px;
  --sp-0_5: 0.125rem;
  --sp-1: 0.25rem;
  --sp-1_5: 0.375rem;
  --sp-2: 0.5rem;
  --sp-2_5: 0.625rem;
  --sp-3: 0.75rem;
  --sp-3_5: 0.875rem;
  --sp-4: 1rem;
  --sp-5: 1.25rem;
  --sp-6: 1.5rem;
  --sp-7: 1.75rem;
  --sp-7_5: 1.875rem;
  --sp-8: 2rem;
  --sp-9: 2.25rem;
  --sp-10: 2.5rem;
  --sp-11: 2.75rem;
  --sp-12: 3rem;
  --sp-14: 3.5rem;
  --sp-16: 4rem;
  --sp-20: 5rem;
  --sp-24: 6rem;
  --sp-28: 7rem;
  --sp-32: 8rem;
  --sp-36: 9rem;
  --sp-40: 10rem;
  --sp-44: 11rem;
  --sp-48: 12rem;
  --sp-52: 13rem;
  --sp-56: 14rem;
  --sp-60: 15rem;
  --sp-64: 16rem;
  --sp-72: 18rem;
  --sp-80: 20rem;
  --sp-96: 24rem;
  /* Font family */
  --primary-font: "Roboto", sans-serif;
  /* Font sizes */
  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.375rem;
  --text-xl: 1.5rem;
  --text-1_5xl: 1.5625rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2.125rem;
  --text-4xl: 2.5rem;
  --text-4_5xl: 2.75rem;
  --text-5_5xl: 3rem;
  /* Font weight */
  --text-weight-base: 400;
  --text-weight-medium: 500;
  --text-weight-bold: 600;
  --text-weight-black: 700;
  /* Line height */
  --lh: 1.5;
  /* Button styling */
  --button-height: 3.75rem;
  /* Max widths */
  --max-width-text: 52ch;
  --max-width-textarea: 60rem;
  --max-width-flex: 62rem;
  /* Page paddings */
  --responsive-padding: calc(8px + 1.5625vw);
  --max-width-page: 1440px;
  /* Borders */
  --border-black: 2px solid var(--black);
  --border-blue: 2px solid var(--blue-800);
  --border-grey: 2px solid var(--grey-400);
  --border-grey-1px: 1px solid var(--grey-400);
  --border-green: 2px solid var(--green-600);
  --border-white: 2px solid var(--white);
  /* Breakpoints */
  --bp-xs: 26rem;
  --bp-sm: 40rem;
  --bp-md: 48rem;
  --bp-lg: 64rem;
  --bp-xl: 80rem;
  --bp-2xl: 96rem;
  /* Animation durations */
  --animation-speed-fast: 150ms;
  --animation-speed-medium: 300ms;
  --animation-speed-slow: 500ms;
  /* Animation easings */
  --ease-out: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --shadow: 8px 8px var(--shadow-color);
  --shadow-color: #000000bf;
  --a-underline-color: #2b00ff;
}

/* HTML and body */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background: var(--white);
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--primary-font);
  font-size: var(--text-base);
  font-weight: var(--text-weight-light);
  text-wrap: balance;
  line-height: var(--lh);
  background: var(--white);
}

/* Misc */
.display-none {
  display: none;
}

/* Flexbox */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-content-center {
  align-content: center;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.gap-1 {
  gap: var(--sp-1);
}

.gap-2 {
  gap: var(--sp-2);
}

.gap-2_5 {
  gap: var(--sp-2_5);
}

.gap-3 {
  gap: var(--sp-3);
}

.gap-3_5 {
  gap: var(--sp-3_5);
}

.gap-4 {
  gap: var(--sp-4);
}

.gap-6 {
  gap: var(--sp-6);
}

.gap-8 {
  gap: var(--sp-8);
}

.gap-16 {
  gap: var(--sp-16);
}

.mb-1 {
  margin-bottom: var(--sp-1);
}

.mb-4 {
  margin-bottom: var(--sp-4);
}

.pi-16 {
  padding-inline: var(--sp-16);
}

.pi-20 {
  padding-inline: var(--sp-20);
}

.width-100 {
  width: 100%;
  max-width: var(--max-width-page);
}

/* Grids */
.grid-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 64rem) {
  .grid-wrapper {
    display: grid;
  }
  .grid-wrapper.grid-main-application {
    grid-template-areas: "text-input text-output";
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    column-gap: var(--sp-4);
  }
  .grid-wrapper.grid-footer {
    grid-template-areas: "column-1 column-2 column-3 column-4";
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    column-gap: var(--sp-12);
  }
}

@media screen and (min-width: 64rem) {
  .text-input-grid {
    grid-area: text-input;
  }
}

@media screen and (min-width: 64rem) {
  .text-output-grid {
    grid-area: text-output;
  }
}

@media screen and (min-width: 64rem) {
  .grid-column-1 {
    grid-area: column-1;
  }
}

@media screen and (min-width: 64rem) {
  .grid-column-2 {
    grid-area: column-2;
  }
}

@media screen and (min-width: 64rem) {
  .grid-column-3 {
    grid-area: column-3;
  }
}

@media screen and (min-width: 64rem) {
  .grid-column-4 {
    grid-area: column-4;
  }
}

/* Icon flex */
.social-links svg {
  fill: var(--white);
}

h1 {
  font-size: clamp(4rem, 1.5rem + 6vw, 6rem);
  font-weight: 900;
  line-height: 0.8;
}

h2 {
  font-size: clamp(2.2rem, 1.5rem + 2vw, 3rem);
  font-weight: 700;
  line-height: 1;
  --flow-space: 1.5rem;
}

h2.subheading {
  font-size: clamp(2rem, 1rem + 4vw, 3.2rem);
  margin-block: 0.2rem 0.4rem;
}
@media (min-width: 38em) {
  h2.subheading {
    margin-block: 0.2rem 0;
  }
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  --flow-space: 1.2rem;
}

h4 {
  font-size: var(--primary-font-size);
  font-weight: 600;
  --flow-space: 0.6rem;
}

p {
  font-size: var(--primary-font-size);
  --flow-space: 0.6rem;
  max-width: 65ch;
  margin-inline: auto;
}

article > *,
details > * {
  margin-top: var(--flow-space, 2rem);
}

*:focus-visible {
  outline: 3px solid #000;
  outline-offset: -6px;
}

article div + p {
  --flow-space: 2rem;
}
article summary + * {
  --flow-space: 1rem;
}

header,
footer {
  padding-block: 0.8rem;
}
header .container,
footer .container {
  display: flex;
  place-content: space-between;
}
header .container.container-start,
footer .container.container-start {
  flex-direction: column;
}
header .img-logo,
footer .img-logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 60ms;
}
@media (min-width: 38rem) {
  header a:hover .header-logo, header a:hover .footer-logo,
  footer a:hover .header-logo,
  footer a:hover .footer-logo {
    box-shadow: var(--shadow);
  }
}

/* Header and footer */
header img.logo-header,
header img.logo-footer {
  display: block;
}
header a:focus-visible {
  outline-color: var(--white);
}

header {
  background-color: var(--white);
  padding-block: var(--sp-6);
  color: var(--black);
  border-bottom: var(--border-grey-1px);
}
@media screen and (min-width: 64rem) {
  header {
    height: 8rem;
  }
}

footer {
  color: var(--white);
  background-color: var(--black);
  padding-top: var(--sp-16);
  padding-bottom: var(--sp-24);
  margin-top: auto;
}
footer h2 {
  color: var(--white);
  font-size: var(--text-lg);
}
footer h2 + * {
  margin-top: var(--sp-2);
}
footer a {
  color: var(--white);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight: var(--text-weight-light);
}
footer a:hover {
  color: inherit;
  text-decoration-thickness: 2px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  list-style-type: none;
  margin-bottom: var(--sp-2);
  height: 30px;
  width: max-content;
}
footer ul li:last-child {
  margin-bottom: 0;
}

nav {
  display: none;
  pointer-events: none;
  border-width: 0 var(--border-width) var(--border-width);
  border-color: var(--primary-font-color);
  border-style: solid;
  z-index: 999;
}

nav.active {
  display: inline;
  pointer-events: all;
}

.btn-wrapper {
  position: relative;
}
.btn-wrapper.btn-start {
  align-self: flex-end;
}

button {
  background: var(--primary-color);
  font-family: var(--primary-font);
  font-size: var(--button-font-size);
  font-weight: 700;
  color: var(--primary-font-color);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 0.8rem 1.6rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  box-shadow: none;
  width: 8rem;
  height: 68px;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
@media (min-width: 51rem) {
  button {
    transition: box-shadow 60ms;
  }
  button:hover {
    box-shadow: var(--shadow);
  }
}
button#menu-button::before, button#top-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  margin-block: auto;
  width: 100%;
  height: 100%;
  background: var(--glare-effect);
  transition: 300ms;
  transform: skew(135deg);
}
button#menu-button::before {
  left: -120%;
}
@media (max-width: 51rem) {
  button#top-button::before {
    display: none;
  }
}
button#top-button::before {
  left: -150%;
}
@media (min-width: 51rem) {
  button#menu-button:hover::before {
    left: 120%;
  }
  button#top-button:hover::before {
    left: 150%;
  }
}
@media (max-width: 51rem) {
  button.active#menu-button::before {
    left: 120%;
  }
}
button.active {
  background: var(--button-hover-color);
}
@media (min-width: 51rem) {
  button.active {
    background: var(--button-secondary-color);
  }
}
button.active {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: var(--shadow);
}
button.active .menu-open {
  display: none;
}
button.active .menu-close {
  display: block;
}
@media (min-width: 51rem) {
  button.active:hover, button.active:focus-visible {
    background: var(--button-hover-color);
  }
}
button span {
  margin: auto 0;
}
button .menu-open {
  display: block;
}
button .menu-open::after {
  content: "";
  box-sizing: border-box;
  background: url(../img/icons.svg) no-repeat;
  background-size: 100% auto;
  background-position: 0 -51px;
  width: 24px;
  height: 18px;
  min-width: 24px;
  right: 36px;
  top: calc(50% - 10px);
  position: absolute;
}
button .menu-close {
  display: none;
}
button .menu-close::after {
  content: "";
  box-sizing: border-box;
  background: url(../img/icons.svg) no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  width: 24px;
  height: 20px;
  min-width: 24px;
  right: 36px;
  top: calc(50% - 10px);
  position: absolute;
}
@media (min-width: 51rem) {
  button:hover, button:focus-visible {
    background: var(--button-hover-color);
  }
}

ul.small-list,
details > ul.small-list {
  font-size: var(--primary-font-size);
  list-style-type: disc;
  padding-inline-start: 1rem;
}
ul.small-list ul,
details > ul.small-list ul {
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}
ul.small-list li:last-child > ul,
details > ul.small-list li:last-child > ul {
  margin-bottom: 0;
}

.big-list {
  font-size: clamp(1.4rem, 1rem + 1vw, 2rem);
  --flow-space: 0.8rem;
}

.container {
  max-width: var(--max-width);
  padding: 0 var(--responsive-padding);
  margin-inline: auto;
}

.to-top-button {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 0;
  z-index: 999;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  border-width: var(--border-width) 0 var(--border-width) var(--border-width);
  border-color: var(--primary-font-color);
  border-style: solid;
}
.to-top-button span::before {
  content: "";
  box-sizing: border-box;
  background: url(../img/icons.svg) no-repeat;
  background-size: 100% auto;
  background-position: 0 -24px;
  width: 24px;
  height: 22px;
  min-width: 24px;
  left: 19px;
  top: 17px;
  position: absolute;
  transform: rotate(-90deg);
}

.dropdown {
  background: var(--primary-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  line-height: initial;
  position: absolute;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  display: none;
}
.dropdown ul {
  list-style-type: none;
  font-size: 1.2rem;
}
.dropdown ul li a {
  display: flex;
  position: relative;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--primary-font-color);
  border-radius: var(--border-radius);
}
.dropdown ul li span {
  display: block;
  padding-left: 1.8rem;
  margin-block: auto;
}
.dropdown ul li span::before {
  content: "";
  box-sizing: border-box;
  background: url(../img/icons.svg) no-repeat;
  background-size: 100% auto;
  background-position: 0 -24px;
  width: 24px;
  height: 22px;
  min-width: 24px;
  left: 16px;
  top: calc(50% - 12px);
  position: absolute;
}
.dropdown ul li:hover, .dropdown ul li:focus-visible {
  background: var(--button-hover-color);
  border-radius: var(--border-radius-small);
}

main {
  background-color: var(--primary-color);
  padding-block: 4rem;
}
@media (min-width: 38rem) {
  main {
    padding-block: 5rem;
  }
}
main a {
  color: var(--primary-font-color);
  text-decoration-color: var(--a-underline-color);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  text-underline-offset: 0.2rem;
  transition: text-underline-offset 60ms;
}
main a[href^="https://"]::after {
  content: "";
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  margin-left: 0.6rem;
  background: url(../img/external-link.svg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
@media (min-width: 51rem) {
  main a:hover {
    text-underline-offset: 0.4rem;
  }
}
main img,
main video {
  border: var(--border);
  border-radius: var(--border-radius);
  width: calc(100% - var(--border-width) * 2);
  height: calc(100% - var(--border-width) * 2);
  object-fit: cover;
}
main img:not([src]):not([srcset]) {
  visibility: hidden;
}
main br {
  display: block;
}
@media (min-width: 38rem) {
  main br {
    display: none;
  }
}

.content-wrapper {
  position: relative;
  display: block;
}
@media (max-width: 38rem) {
  .content-wrapper .intro-image {
    aspect-ratio: 1000/707;
  }
}
.content-wrapper .region-stockholm,
.content-wrapper .ivo,
.content-wrapper .rahmqvist-small,
.content-wrapper .lyckoslanten,
.content-wrapper .liu {
  aspect-ratio: 1000/707;
}
.content-wrapper .agood,
.content-wrapper .dedicated {
  aspect-ratio: 1/1;
}
.content-wrapper .rahmqvist-large {
  aspect-ratio: 500/261;
}
.content-wrapper .oounpo {
  aspect-ratio: 125/177;
}
@media (min-width: 38.1rem) {
  .content-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
  }
}
.content-wrapper .grid-column-full {
  grid-area: auto/1/auto/13;
}
.content-wrapper .grid-intro-text {
  grid-area: auto/1/auto/8;
}
@media (max-width: 38rem) {
  .content-wrapper .grid-intro-text article {
    margin-top: 2.6rem;
  }
}
.content-wrapper .grid-intro-image {
  grid-area: 1/8/span 2/13;
}
.content-wrapper .grid-column-left {
  grid-area: auto/1/auto/7;
}
.content-wrapper .grid-column-right {
  grid-area: auto/7/auto/13;
}
.content-wrapper figcaption {
  margin: 0;
  padding: 0;
  font-size: 0.82rem;
}

@media (max-width: 38rem) {
  .grid-img {
    margin-block: 0.8rem;
  }
}

hr {
  display: block;
  background-image: var(--rainbow);
  height: 2px;
  border: 0;
  margin-block: 4.4rem;
}

.details-shadow {
  max-width: var(--details-width);
  border-radius: var(--border-radius);
}
@media (min-width: 54rem) {
  .details-shadow {
    transition: box-shadow 60ms;
  }
  .details-shadow:hover {
    box-shadow: var(--shadow);
  }
}
.details-shadow:has(details[open]) {
  box-shadow: var(--shadow);
}

details {
  display: block;
  border: var(--border);
  border-bottom: 0;
  border-radius: 0;
  padding: 1rem 2rem 0rem 1.5rem;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
}
details summary {
  cursor: pointer;
  padding: 1rem 5rem 1rem 2rem;
  margin: -1rem -2rem 0;
  position: relative;
  list-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  isolation: isolate;
}
details summary h3 {
  display: inline;
}
details summary::-webkit-details-marker {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
details summary::marker {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: no-preference) {
  details summary::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    margin-block: auto;
    width: 100%;
    height: 100%;
    background: var(--glare-effect);
    transition: 300ms;
    transform: skew(135deg);
    left: -120%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  details summary:hover::before {
    left: 120%;
  }
}
@media (prefers-reduced-motion: no-preference) and (max-width: 51rem) {
  details summary:hover::before {
    display: none;
  }
}
details summary::after {
  content: "";
  box-sizing: border-box;
  background: url(../img/icons.svg) no-repeat;
  background-size: 100% auto;
  background-position: 0 -73px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  right: 1.6rem;
  top: calc(50% - 13px);
  position: absolute;
}
@media (max-width: 51rem) {
  details[open] > summary::before {
    left: 120%;
  }
}
@media (min-width: 51rem) {
  details:hover > summary {
    background: var(--button-hover-color);
  }
}
details:first-of-type {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
details:first-of-type:hover > summary {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
details:first-of-type[open] summary {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
details[open] > summary {
  border-bottom: var(--border);
  background: var(--button-hover-color);
}
@media (min-width: 51rem) {
  details[open] > summary {
    background: var(--button-secondary-color);
  }
}
details[open] > summary:hover {
  background: var(--button-hover-color);
}
details:last-of-type {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-bottom: var(--border);
}
details:last-of-type:hover > summary {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
details:last-of-type[open] summary {
  border-radius: 0;
}
details[open] {
  padding: 1rem 2rem 2rem 1.5rem;
}
details[open] summary::after {
  content: "";
  box-sizing: border-box;
  background: url(../img/icons.svg) no-repeat;
  background-size: 100% auto;
  background-position: 0 -98px;
  width: 24px;
  height: 12px;
  min-width: 24px;
  right: 1.6rem;
  top: calc(50% - 7px);
  position: absolute;
}

.visible-hidden {
  clip-path: none;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  z-index: 1000;
}

.visible-hidden:focus {
  clip-path: margin-box;
  display: block;
  overflow: auto;
  position: absolute;
  height: auto;
  width: auto;
  top: 5px;
  left: 5px;
  padding: 1rem;
  background-color: var(--primary-color);
  border: var(--border);
  font-size: var(--primary-font-size);
}

@media (forced-colors: active) {
  span > svg {
    fill: linkText;
  }
}
