* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;

  &:focus-visible:not(.textarea-wrapper, .input-field, textarea) {
    outline-width: 4px;
    outline-style: dashed;
    outline-color: var(--grey-800);
    outline-offset: var(--sp-1);
  }
}

textarea:focus-visible {
  outline: none;
  border-radius: var(--br-md);
}

%shared-textarea-select-focus {
  outline-width: 2px;
  outline-style: solid;
  border-radius: var(--br-md);
}

.input-field:focus-within,
.textarea-wrapper:focus-within,
select:focus-within {
  @extend %shared-textarea-select-focus;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src:
    url("../fonts/roboto-v30-latin-900.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-900.woff") format("woff");
}

:root {
  /* Colors */
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --grey-200: rgb(245, 245, 245);
  --grey-300: rgb(236, 238, 238);
  --grey-400: rgb(216, 220, 221);
  --grey-600: rgb(166, 174, 177);
  --grey-700: rgb(100, 110, 114);
  --grey-800: rgb(64, 69, 74);
  --blue-200: rgb(231, 243, 249);
  --blue-300: rgb(214, 235, 245);
  --blue-400: rgb(137, 212, 250);
  --blue-600: rgb(0, 174, 239);
  --blue-700: rgb(0, 83, 143);
  --blue-800: rgb(0, 45, 90);
  --pink-200: rgb(250, 239, 244);
  --pink-300: rgb(250, 229, 238);
  --pink-400: rgb(255, 160, 204);
  --pink-600: rgb(233, 70, 147);
  --pink-700: rgb(178, 21, 68);
  --pink-800: rgb(123, 6, 39);
  --green-200: rgb(237, 246, 221);
  --green-300: rgb(225, 240, 199);
  --green-400: rgb(207, 238, 138);
  --green-600: rgb(120, 190, 0);
  --green-700: rgb(68, 107, 0);
  --green-800: rgb(42, 73, 8);
  --yellow-200: rgb(255, 248, 227);
  --yellow-300: rgb(255, 244, 209);
  --yellow-400: rgb(255, 227, 138);
  --yellow-600: rgb(255, 212, 0);
  --yellow-700: rgb(168, 129, 0);
  --yellow-800: rgb(117, 91, 0);
  --orange-200: rgb(252, 244, 232);
  --orange-300: rgb(251, 238, 218);
  --orange-400: rgb(252, 208, 138);
  --orange-600: rgb(235, 145, 0);
  --orange-700: rgb(199, 84, 0);
  --orange-800: rgb(164, 39, 0);

  /* Gradients */
  --skill-gradient: linear-gradient(
    135deg,
    var(--yellow-200) 0%,
    var(--yellow-400) 50%,
    var(--yellow-600) 100%
  );

  /* Border radius */
  --br-none: 0px;
  --br-sm: 0.125rem;
  --br-default: 0.25rem;
  --br-md: 0.375rem;
  --br-lg: 0.5rem;
  --br-xl: 0.75rem;
  --br-2xl: 1rem;
  --br-3xl: 1.5rem;
  --br-4xl: 2rem;
  --br-5xl: 2.5rem;
  --br-6xl: 3rem;
  --br-full: 9999px;

  /* Spacing */
  --sp-0: 0px;
  --sp-px: 1px;
  --sp-0_5: 0.125rem;
  --sp-1: 0.25rem;
  --sp-1_5: 0.375rem;
  --sp-2: 0.5rem;
  --sp-2_5: 0.625rem;
  --sp-3: 0.75rem;
  --sp-3_5: 0.875rem;
  --sp-4: 1rem;
  --sp-5: 1.25rem;
  --sp-6: 1.5rem;
  --sp-7: 1.75rem;
  --sp-7_5: 1.875rem;
  --sp-8: 2rem;
  --sp-9: 2.25rem;
  --sp-10: 2.5rem;
  --sp-11: 2.75rem;
  --sp-12: 3rem;
  --sp-14: 3.5rem;
  --sp-16: 4rem;
  --sp-20: 5rem;
  --sp-24: 6rem;
  --sp-28: 7rem;
  --sp-32: 8rem;
  --sp-36: 9rem;
  --sp-40: 10rem;
  --sp-44: 11rem;
  --sp-48: 12rem;
  --sp-52: 13rem;
  --sp-56: 14rem;
  --sp-60: 15rem;
  --sp-64: 16rem;
  --sp-72: 18rem;
  --sp-80: 20rem;
  --sp-96: 24rem;

  /* Font family */
  --primary-font: "Roboto", sans-serif;

  /* Font sizes */
  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.375rem;
  --text-xl: 1.5rem;
  --text-1_5xl: 1.5625rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2.125rem;
  --text-4xl: 2.5rem;
  --text-4_5xl: 2.75rem;
  --text-5_5xl: 3rem;
  --text-6xl: 4rem;

  /* Font weight */
  --text-weight-base: 400;
  --text-weight-medium: 500;
  --text-weight-bold: 600;
  --text-weight-black: 700;

  /* Line height */
  --lh: 1.5;

  /* Button styling */
  --button-height: 3.75rem;

  /* Max widths */
  --max-width-text: 52ch;
  --max-width-textarea: 60rem;
  --max-width-flex: 62rem;

  /* Page paddings */
  --responsive-padding: calc(8px + 1.5625vw);
  --max-width-page: 1440px;

  /* Borders */
  --border-black: 2px solid var(--black);
  --border-blue: 2px solid var(--blue-800);
  --border-grey: 2px solid var(--grey-400);
  --border-grey-1px: 1px solid var(--grey-400);
  --border-green: 2px solid var(--green-600);
  --border-white: 2px solid var(--white);

  /* Breakpoints */
  --bp-xs: 26rem;
  --bp-sm: 40rem;
  --bp-md: 48rem;
  --bp-lg: 64rem;
  --bp-xl: 80rem;
  --bp-2xl: 96rem;

  /* Image shadows */
  --shadow: 8px 8px var(--shadow-color);
  --shadow-color: #000000bf;
}

/* HTML and body */
html {
  background: var(--white);
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  font-size: var(--text-base);
  font-weight: var(--text-weight-light);
  gap: var(--sp-16);
  line-height: var(--lh);
  min-height: 100vh;
  text-wrap: balance;
}

/* Flexbox */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-content-center {
  align-content: center;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex_even {
  flex: 1;
}

.gap-1 {
  gap: var(--sp-1);
}

.gap-2 {
  gap: var(--sp-2);
}

.gap-2_5 {
  gap: var(--sp-2_5);
}

.gap-3 {
  gap: var(--sp-3);
}

.gap-3_5 {
  gap: var(--sp-3_5);
}

.gap-4 {
  gap: var(--sp-4);
}

.gap-6 {
  gap: var(--sp-6);
}

.gap-8 {
  gap: var(--sp-8);
}

.gap-16 {
  gap: var(--sp-16);
}

.pi-16 {
  padding-inline: var(--sp-16);
}

.pi-20 {
  padding-inline: var(--sp-20);
}

.width-100 {
  width: 100%;
  max-width: var(--max-width-page);
}

.portrait_photo {
  max-width: 20rem;
  border: var(--border-black);
  border-radius: var(--br-full);
}

/* Fonts */
%shared-text-header-style {
  color: var(--header-black);
  font-weight: var(--text-weight-black);
  max-width: var(--max-width-text);
}

h1 {
  @extend %shared-text-header-style;
  font-size: var(--text-4xl);

  @media screen and (min-width: 64rem) {
    font-size: var(--text-6xl);
  }
}

h2 {
  @extend %shared-text-header-style;
  font-size: var(--text-xl);

  @media screen and (min-width: 64rem) {
    font-size: var(--text-3xl);
  }
}

h3 {
  @extend %shared-text-header-style;
  font-size: var(--text-lg);
}

h4 {
  @extend %shared-text-header-style;
  font-size: var(--text-lg);

  @media screen and (min-width: 64rem) {
    font-size: var(--text-xl);
  }
}

h5 {
  @extend %shared-text-header-style;
  font-size: var(--text-base);

  @media screen and (min-width: 64rem) {
    font-size: var(--text-lg);
  }
}

h6 {
  @extend %shared-text-header-style;
  font-size: var(--text-base);

  @media screen and (min-width: 64rem) {
    font-size: var(--text-base);
  }
}

p {
  font-size: var(--text-sm);
  max-width: var(--max-width-text);
  color: var(--grey-800);

  @media screen and (min-width: 64rem) {
    font-size: var(--text-lg);
  }
}

/* Lousy hack to set URL styling as needed */
a.url {
  color: var(--blue-800);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight: var(--text-weight-medium);

  &:hover {
    text-decoration-thickness: 3px;
  }
}

.column_listing {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

.form_container {
  display: flex;
  flex-direction: column;
}

.textarea_label {
  color: var(--black);
  font-size: var(--text-base);
  font-weight: var(--text-weight-bold);
  max-width: max-content;
}

.input_field {
  font-size: var(--text-base);
  border: var(--border-black);
  border-radius: var(--br-md);
  padding: var(--sp-2);
}

.input_field_information {
  max-width: 48ch;
}

.navigation_header {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: flex-row;
  height: 8rem;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width-page);
  padding-inline: var(--sp-20);
  width: 100%;

  @media screen and (max-width: 64rem) {
    padding-inline: var(--sp-4);
  }
}

// Set the styling of the logo
.img_logo {
  border-radius: var(--br-full);
  border: var(--border-black);
  box-shadow: none;
  height: 64px;
  transition: box-shadow 60ms;
  width: 64px;
}

// Container for the logo with flex-box
.logo_container {
  display: flex;
  flex-direction: row;
  gap: var(--sp-3);
  align-items: center;
}

// Create a shadow on the img logo on the whole a tag
.logo_link {
  text-decoration: none;

  .logo_text {
    color: var(--black);
    font-weight: var(--text-weight-black);
    line-height: 1;
    width: min-content;
  }

  @media (min-width: 38rem) {
    &:hover .img_logo {
      box-shadow: var(--shadow);
    }
  }
}

.navigation_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 64rem) {
    align-items: center;
    flex-direction: row;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
}

.section_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section_base {
  display: flex;
  flex-direction: row;
  gap: var(--sp-8);
  max-width: var(--max-width-page);
  width: 100%;

  &.standard_section {
    padding-inline: var(--sp-20);
  }

  &.colored_section {
    padding-block: var(--sp-8) var(--sp-16);
    padding-inline: var(--sp-20);
  }
}

.skill_contact_sections {
  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

%shared-skill-rating-before {
  background: var(--skill-gradient);
  outline: var(--border-black);
  border-radius: 0 var(--br-full) var(--br-full) 0;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}

.skill_listing {
  display: flex;
  flex-direction: row;
  gap: var(--sp-4);
  list-style: none;
  max-width: 80%;

  .skill_text {
    display: flex;
    justify-content: end;
    font-weight: var(--text-weight-medium);
    max-width: 12ch;
    width: 100%;
  }

  .skill_rating {
    background-color: var(--white);
    border: var(--border-black);
    border-radius: var(--br-full);
    isolation: isolate;
    overflow: hidden;
    padding: var(--sp-2) var(--sp-8);
    position: relative;
    width: 100%;

    &.treefiddy {
      &::before {
        @extend %shared-skill-rating-before;
        width: 31%;
      }
    }

    &.twenquan {
      &::before {
        @extend %shared-skill-rating-before;
        width: 42%;
      }
    }

    &.twcha {
      &::before {
        @extend %shared-skill-rating-before;
        width: 13%;
      }
    }

    &.denwuo {
      &::before {
        @extend %shared-skill-rating-before;
        width: 27%;
      }
    }
  }
}

.center_all {
  display: flex;
  justify-content: center;
  align-content: center;
}

.short_form {
}

footer {
  color: var(--white);
  background-color: var(--black);
  margin-top: auto;
  padding-top: var(--sp-16);
  padding-bottom: var(--sp-24);

  h2 {
    color: var(--white);
    font-size: var(--text-lg);

    & + * {
      margin-top: var(--sp-2);
    }
  }

  a {
    color: var(--white);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: var(--text-weight-light);

    &:hover {
      color: inherit;
      text-decoration-thickness: 2px;
    }
  }

  ul {
    list-style-type: none;

    li {
      list-style-type: none;
      margin-bottom: var(--sp-2);
      height: 30px;
      width: max-content;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* Different sections */

/* Colored backgrounds */
.colored-bg-padding {
  padding-block: var(--sp-8) var(--sp-16);
  padding-inline: var(--sp-6);

  @media screen and (min-width: 64rem) {
    padding-block: var(--sp-8) var(--sp-16);
    padding-inline: var(--sp-20);
  }
}

.white-bg {
  background: var(--white);
}

.grey-bg {
  background: var(--grey-200);
}

.relative {
  position: relative;
}

/* Text area styling */
.textarea_wrapper {
  width: 100%;
  height: 100%;
}

textarea {
  color: var(--black);
  font: var(--font-weight-base);
  font-size: var(--text-base);
  height: 100%;
  min-height: 10rem;
  resize: none;
  width: 100%;
}

/* Nav buttons */
ul.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: var(--sp-4);
  list-style-type: none;

  li {
    list-style-type: none;
    width: 100%;

    @media screen and (min-width: 64rem) {
      width: auto;
    }

    a {
      background: var(--white);
      border: var(--border-black);
      border-radius: var(--br-full);
      box-shadow: none;
      color: var(--black);
      font-size: var(--text-lg);
      font-weight: var(--text-weight-medium);
      isolation: isolate;
      justify-content: space-between;
      overflow: hidden;
      padding-block: var(--sp-2);
      padding-inline: var(--sp-8);
      text-decoration: none;

      @media screen and (min-width: 64rem) {
        &:hover {
          background: var(--yellow-400);
          box-shadow: var(--shadow);
          transition: box-shadow 60ms;
        }

        &:active {
          background: var(--yellow-600);
        }
      }
    }
  }
}

/* Icon flex */
.social-links {
  svg {
    fill: var(--white);
  }
}

/* Grids */
.grid-wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 64rem) {
    display: grid;

    &.grid-main-application {
      grid-template-areas: "text-input text-output";
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
      column-gap: var(--sp-4);
    }

    &.grid-footer {
      grid-template-areas: "column-1 column-2 column-3 column-4";
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: row;
      column-gap: var(--sp-12);
    }
  }
}

.grid-column-1 {
  @media screen and (min-width: 64rem) {
    grid-area: column-1;
  }
}

.grid-column-2 {
  @media screen and (min-width: 64rem) {
    grid-area: column-2;
  }
}

.grid-column-3 {
  @media screen and (min-width: 64rem) {
    grid-area: column-3;
  }
}

.grid-column-4 {
  @media screen and (min-width: 64rem) {
    grid-area: column-4;
  }
}

/* Button styling */
.large-button {
  background: var(--black);
  border: var(--border-black);
  border-radius: var(--br-full);
  color: var(--white);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: var(--text-weight-base);
  font-size: var(--text-lg);
  height: 4rem;
  min-width: 6.25rem;
  max-width: fit-content;
  padding: var(--sp-4) var(--sp-8);
  text-decoration: none;
  text-align: center;

  &:hover {
    background: var(--grey-800);
  }

  &:active {
    background: var(--grey-700);
  }

  @media screen and (max-width: 64rem) {
    & svg {
      max-width: 24px;
      max-height: 24px;
    }
  }

  svg {
    color: var(--blue-800);
  }
}

.image-border {
  border: var(--border-black);
}

.image-border-radius {
  border-radius: var(--br-md);
}
